!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin', :rel => 'stylesheet', :type => 'text/css'}
    = cache_timestamp
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %meta{:name => "keywords", :content => "civilization5, civ5, civ5replays, civ5replayparser, replayparser" }
    %meta{:name => "description", :content => "A civilization 5 replay parser based on dannythefool's python script."}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-13009534-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #container
      #header
        #logo
          - if flash.has?(:error) then
            %h3{:class=>"error"}
              = flash[:error]
          %h1
            %a{:href => '/'}= SiteConfig.title
      #content
        %a{:href => '/'} Home
        |
        %a{:href => '/replays'} Replays
        |
        %a{:href => '/stats'} Stats
        %br
        = yield
        %br
      #footer
        %p#legal= "&mdash; It's all free, go nuts! #{Time.now.strftime('%Y')} #{SiteConfig.author} &mdash;"
