!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
    = cache_timestamp
  %body
    #container
      #header
        #logo
          - if flash.has?(:error) then
            %h3{:class=>"error"}
              = flash[:error]
          %h1
            %a{:href => '/'}= SiteConfig.title
      #content
        %a{:href => '/'} Home
        |
        %a{:href => '/replays'} Replays
        |
        %a{:href => '/stats'} Stats
        %br
        = yield
      #footer
        %p#legal= "&mdash; &copy; #{Time.now.strftime('%Y')} #{SiteConfig.author} &mdash;"
