%br
- @replays.each do |replay|
  %a{:href => "/replay/#{replay.id}"}
    = replay.description
  = replay.created_at ? replay.created_at.strftime("%d/%w/%Y") : ""
  %br
%br
Page
= @replays.current_page
of
= @replays.total_pages
%br
- if @replays.previous_page
  %a{:href => "/replays/#{@replays.previous_page}" } Previous page
- if @replays.next_page
  %a{:href => "/replays/#{@replays.next_page}" } Next page
%br